@model MVC_Version.Models.Data
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<div class="post">
    <div class="details">
        <p>Title: @Model.Title</p>
        <p>Author: @Model.Author</p>
        <p>Date: @Model.Created</p>
    </div>
    <div class="content">
        <p>
            @Model.Content
        </p>
    </div>
</div>


@*@section scripts {
        @Scripts.Render("~/bundles/custom")
    }*@


@section Styles {
    <link href="@Url.Content("~/Content/BlogStyle.css")" rel="stylesheet" type="text/css" />
}