@using MVC_Version.Models
@model MVC_Version.Models.Data
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blogs</h2>
@if (Model.IsNew)
{
    <div class="post">
        <div class="details">
            <p><em>Title</em></p>
            <p class="stronk">@Model.Title</p>
            <p><em>Author</em></p>
            <p class="stronk">@Model.Author</p>
            <p>Date: <em>@Model.Created</em></p>
        </div>
        <div class="separator"><input class="btn-prft-vertical" /></div>
        <div class="content">
            <p>
                @Model.Content
            </p>
        </div>
    </div>
}
else
{


    foreach (var blog in @Model.Blogs)
    {
        <div class="post">
            <div class="details">
                <p><em>Title</em></p>
                <p class="stronk">@blog.article_title</p>
                <p><em>Author</em></p>
                <p class="stronk">@blog.author.author_name</p>
                <p>Date: <em>@blog.created</em></p>
            </div>
            <div class="separator"><input class="btn-prft-vertical" /></div>
            <div class="content">
                <p>
                    @blog.article_content
                </p>
            </div>
        </div>
    }
}

@*@section scripts {
        @Scripts.Render("~/bundles/custom")
    }*@


@section Styles {
    <link href="@Url.Content("~/Content/BlogStyle.css")" rel="stylesheet" type="text/css" />
}