@{
    ViewBag.Title = "Home Page";
}



<section id="classes">

    <div class="container-1">
        <h4><u>Open Classes</u></h4>
        <table class="table">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>School</strong></td>
                <td><strong>Classes</strong></td>
                <td><strong>Open Slots</strong></td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>
            <tr>
                <td>Data</td>
                <td>Data</td>
                <td>Data</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="imgrot">

        <div id="jquery-slideshow-container">

            <ul id="jquery-slideshow">
                <li style="background-image: url(images/Fab_logo.png);">
                    <a href="https://www.example.com/some-page">
                        <span>Caption for slide #1 goes here.</span>
                    </a>
                </li>
                <li style="background-image: url(images/FU_image.png);">
                    <a href="https://www.example.com/another-page">
                        <span>Caption for slide #2 goes here.</span>
                    </a>
                </li>
                <li style="background-image: url(images/picture.png);">
                    <a href="https://www.example.com/lorem-ipsum-page">
                        <span>Caption for slide #3 goes here.</span>
                    </a>
                </li>
                <li style="background-image: url(images/school.jpg);">
                    <a href="https://www.example.com/lorem-ipsum-page">
                        <span>Caption for slide #4 goes here.</span>
                    </a>
                </li>
            </ul>

        </div>
        <div id="radioButtons">
            <div class="box-1"><input type="radio" name="place" value="0"></div>
            <div class="box-1"><input type="radio" name="place" value="1"></div>
            <div class="box-1"><input type="radio" name="place" value="2"></div>
            <div class="box-1"><input type="radio" name="place" value="3"></div>
        </div>
    </div>
    <div class="container-1">
        <h4><u>Register For</u></h4>
        <div class="container-2">

            <div class="box-1">
                <button type="button" class="btn btn-info">Clubs</button>
            </div>
            <div class="box-1">
                <button type="button" class="btn btn-info">Pay My Bill</button>
            </div>
            <div class="box-1">
                <button type="button" class="btn btn-info">Campuses</button>
            </div>
            <div class="box-1">
                <button type="button" class="btn btn-info">Contact Us</button>
            </div>

        </div>
    </div>
</section>

<div class="container-2">
    <div class="box-1">
        <div class="box-2">
            <img src="images/Fab_logo.png" />
        </div>
        
        <h3>@Html.ActionLink("College of Computing and Digital Media", "Colofcd", "College")</h3>
    </div>
    <div class="box-1">
        <img src="images/Fab_logo.png" />
        <h3>@Html.ActionLink("College of Education", "Colofed", "College")</h3>
    </div>
    <div class="box-1">
        <img src="images/Fab_logo.png" />
        <h3>@Html.ActionLink("College of Law", "Coloflaw", "College")</h3>
    </div>
    <div class="box-1">
        <img src="images/Fab_logo.png" />
        <h3>@Html.ActionLink("School of Music", "Schofmus", "College")</h3>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/custom")
}
